* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topBox {
    margin:auto;
    color: white;
    position: relative;
    text-align: center;
}

div.topBox h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
}

/* .nasaText {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 400%;
} */

.bottomBox {
    margin: auto;
    background-color: lightgrey;
    padding: 20px;
    width: 640px;
    height: 350px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 20px;
}



div.columnOne p {
    font-size: 85%;
}

div.columnTwo p {
    font-size: 85%;
}

div.columnThree label {
    font-size: 85%;
}


